.snillrik-settings {
    text-align: center;
}

.snillrik-settings td:first-child {
    width: 250px;
}

.snillrik-settings-row {
    display: flex;
    margin-bottom: 18px;
}

.snillrik-settings-item {
    width: 33.33333%;
}

.snillrik-settings-inner-row{
    display:flex;

}
.snillrik-settings-inner-row div{
    flex:1;
}

.snillrik-settings-item-inner {
    background: rgb(255 255 255);
    margin: 3px;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    height: 100%;
}

.snillrik-settings-item-inner:hover {
    background: rgb(243, 243, 243);
}


/**
* Switch
*/


/* The switch - the box around the slider */

.snillrik-settings-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}


/* Hide default HTML checkbox */

.snillrik-settings-switch input {
    display: none;
}


/* The slider */

.snillrik-settings-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.snillrik-settings-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.snillrik-settings-slider {
    background-color: #ffb713;
}

input:focus+.snillrik-settings-slider {
    box-shadow: 0 0 1px #ffb713;
}

input:checked+.snillrik-settings-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

@media all and (max-width: 500px) {
    .snillrik-settings-row {
        flex-direction: column;
    }
    .snillrik-settings-item {
        width: 100%;
    }
}